/*Global*/

body {
    margin: 0;
    width: 100%;
}

.section-title {
    font-family: 'Quintessential', cursive;
    font-size: 34px;
    margin-bottom: 0;
}

.section-subtitle {
    font-family: 'Rowdies', cursive;
    margin-top: 5px;
    margin-bottom: 50px;
    color:rgba(56, 56, 56, 0.623);
}

/*Navigation*/

.navigation {
    height: 70vh;
    position: relative;
    background-image: url('https://media.istockphoto.com/photos/tel-aviv-wedding-picture-id650629976?k=20&m=650629976&s=612x612&w=0&h=xUl3lNkZQWVx7L3773LGWBxLrLJYR5w1TbypN_D4OqA=');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}

.navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.navigation li {
    padding: 0 10px;
    align-items: left;
}

.navigation a {
    text-decoration: none;
    color: whitesmoke;
    margin-top: 10px;
}

.navigation .nav-list {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Rowdies', cursive;
    
}

.navigation .nav-brand {
    color: yellowgreen;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;

}

.navigation .heading {
    text-align: center;
    margin: 15vh auto;
    display: block;

    color: white;
    font-family: 'Quintessential', cursive;
    font-size: 24px;
}

.navigation .heading button {
    width: 220px;
    height: 60px;
    border-radius: 10px;
    background-color: rgba(3, 3, 3, 0.623);
    color: white;
    border-color: white;
    font-size: 14px;
    cursor: pointer;
}

/*Services*/

.services {
    text-align: center;
    margin: 100px;
    align-items: center;
}

.services i {
    font-size: 40px;
    border: 3px solid yellow;
    border-radius: 50%;
    color: yellow;
    padding: 15px;
    margin-top: 20px;
}

.services h5 {
    margin-bottom: 5px;
    font-size: 22px;
    font-family: 'Rowdies', cursive;
}

.services p {
    margin: 5px;
    font-size: 16px;
    font-family: 'Rowdies', cursive;
    color: rgba(56, 56, 56, 0.623);
}



/*Portfolio*/

.portfolio {
    text-align: center;
    margin-top: 100px;
    background-color: bisque;
}

.portfolio img {
    height: 200px;
    width: 350px;
}

.portfolio .file {
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'Rowdies', cursive;
}

.portfolio .describe {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Rowdies', cursive;
    color: rgba(56, 56, 56, 0.623);
    padding-bottom: 50px;
}

/*Footer*/

footer {
    margin: 20px 0;
}

footer i {
    padding-top: 10px;
}

footer ul {
    display: flex;
    justify-content: left;
    list-style-type: none;       
}

footer li {
    padding-right: 20px;   
}

footer ul i {
    
    color: white;
    border: 3px solid black;
    border-radius: 50%;    
    background-color: black;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
}



